head 
  link(rel='stylesheet', href='style.css')
  link(rel='icon', href='icon.ico', type='image/x-icon')
body
  header.header
    h1 Your Video is ready to play!	
  div.video
    #{iframe}
    p Share this url with your friends: #{player}
    p <a href=#{player}>#{player}</a>
    p <a href="/">Upload another video</a>.