head 
  link(rel='stylesheet', href='demo.css')
  link(rel='icon', href='icon.ico', type='image/x-icon')
body
  header.header
    h1 Your Video is ready to play!	
  div.video
    p <iframe src=#{player}#autoplay width="100%"" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
    p Check your e-mail for a link to the video.
    p Video uploaded in #{uploadSeconds}s, and processed in #{processSeconds}s.
    p <a href="/">Upload another video</a>.