.header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  color: #FFFFFF;
  background-image: linear-gradient(#FC601A, #FD8B25)
  
  }
.formPadding{
 padding: 2%;
}
  
  
.form {
  width: 75%;
  background: #fff;
  padding: 20px;
  border-style: solid;
  border-color: #A5A5A5;
  border-width: 3px;


}

.input{
 width: 75%;

}
.video{
	width: 75%;
}